* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  --user-photo-width: 150px;
}

body {
  font-family: sans-serif;
  line-height: 1.2;
}

.userCard {
  max-widht: 200px;
  width: 50%;
  min-widht: 250px;

  margin: 50px auto;
  border-radius: 30px;
  box-shadow: 0 0 10px grey;
  overflow: hidden;
  text-align: center;
}

.bg {
  background-image: url("https://images.pexels.com/photos/34106378/pexels-photo-34106378.jpeg");
  height: 150px;
  color: white;
  padding: 15px;
  padding-left: 250px;
  text-align: right;
}

.contentWrapper {
  padding: 0 15px 15px 15px;
}

.userImg {
  width: var(--user-photo-width);
  height: var(--user-photo-width);
  object-fit: cover;
  border-radius: 50%;
  display: inline-block;
  margin-top: calc((-1) * var(--user-photo-width) / 2);
  border: 3px solid white;
}
.userName {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0.5em 0;
}
.userGeoposition {
  font-size: 1rem;
  color: grey;
  font-size: 0.9rem;
  margin-bottom: 5px;
  margin: 0.5em 0;
}
.experience {
  font-size: 1rem;
  padding: 0 15px 15px 15px;
  color: #333333;
  margin: 0.5em 0;
}

.job {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 15px;
}

.userSocialLink {
  color: white;
  background-color: grey;
  border-radius: 50%;
  padding: 10px;
  widht: 35px;
  height: 35px;
}
.userSocialLink + .userSocialLink {
  margin-left: 40px;
}
